<!DOCTYPE html>
<html>
<head>
    <title>Luke's Django Website</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Blog</a></h1>
    </header>

    <article>
        <time>published: 07.01.2025, 8:41</time>
        <h2><a href="">My first post</a></h2>
        <p>I've made it this far, let's go further.</p>
    </article>

    <article>
        <time>published: 07.01.2025, 8:42</time>
        <h2><a href="">My second post</a></h2>
        <p>I'm looking forward to what I will be able to do with my newfound knowledge.</p>
    </article>
</body>
</html>